<%= form_for(@artist) do |f| %>
    <label>Arist Name:</label><br>
    <%= f.text_field :name %><br>
    
    <label>Artist Bio:</label>
    <%= f.text_area :bio %><br>
    
    <%= f.submit %>
<% end %>